<div data-section-id="{{ section.id }}" data-section-type="static-page">

  {%- assign sidebarHeading = section.settings.title | escape -%}
  {%- assign sidebarContent = section.settings.content -%}

  {%- if sidebarHeading != blank or sidebarContent != blank -%}
    {%- assign hasSidebar = true -%}
  {%- else -%}
    {%- assign hasSidebar = false -%}
  {%- endif -%}

  <main class="content content-area" id ="slider">
    <div class="container" >
  <img src="https://cdn.shopify.com/s/files/1/0020/2915/8455/files/Dogologie_ForPrint-38_1024x1024_d9e96497-4a65-4fc3-adbf-e8ec478e32c9.jpg?v=1646709026" alt="dogologie sign">
  
  
      
</div>

    

      {% if hasSidebar %}
        <div class="rte sidebar">
          {% if sidebarHeading != blank %}
            <h2 class="title">{{ sidebarHeading }}</h2>
          {% endif %}

          {% if sidebarContent.size > 0 %}
            {{ sidebarContent }}
          {% endif %}
        </div>
      {% endif %}

    </div>

  </main>

</div>

{% schema %}
{
  "name": "Static pages",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "show-breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "content",
      "label": "Content"
    }
  ]
}

{% endschema %}
    
    <style>
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 100%;
}
  
 .mytext {
   /*color: red;*/
   font-size: 22px;
 }
  

  @media only screen and  (max-width: 500px){

  .mytext {
     font-size: smaller !important;
}
}
      
  #slider {
      width: 100%;
   	  padding: 0px;
      max-width: 2000px;
      }
   
  img {
      max-height: 700px;
      }
      
      .mytext {
      font-size: 30px;
      }
</style>